/*
	David Bray
	BrayWorth Pty Ltd
	e. david@brayworth.com.au

	MIT License

*/

.markdown-body .highlight pre, .markdown-body pre {
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.markdown-body pre code, .markdown-body pre tt {
    background-color: initial;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
}

.markdown-body pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}

.markdown-body table {
    width : 100%

}

.markdown-body table thead th,
.markdown-body table tbody td {
    border: 1px solid #eee;
    padding: 12px;

}

.markdown-body > blockquote {
    border-left: 3px solid #eee;
    padding-left: 1em;
    margin-left: 2em;

}
