@page {
  size: A4 portrait;
  margin: 80px 40px 40px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 40px;
}

html,
body {
  font-size: 12px;
  width: 210mm;
  height: 147mm
}

header {
  position: fixed;
  top: -80px;
  left: 0px;
  right: 0px;
  height: 76px;
  border-bottom: 1px solid silver;
  padding-top: 50px;
}

footer {
  position: fixed;
  bottom: -40px;
  left: 0px;
  right: 0px;
  height: 100px;
}

header>.dealogo {
  position: absolute;
  right: 0;
  top: 55px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

body,
h5,
table {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

footer .page-number:after {
  content: counter(page);
}

.m-0 { margin: 0; }

.w-100 {
  width: 100%;
}

.table {
  width: 90%;
  page-break-inside: avoid;
}

table>thead>tr {
  vertical-align: bottom;
}

table>thead.border-bottom>tr>td {
  border-bottom: 1px solid silver;
}

table>tbody>tr {
  vertical-align: top;
}

.table>thead>tr>td:not(pb-0),
.table>tbody>tr>td:not(pb-0) {
  padding: 8px 8px;
}

.table>thead>tr>td.pb-0,
.table>tbody>tr>td.pb-0 {
  padding: 8px 8px 0 8px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.border { border: 1px solid #e0e0e0; }
