/*
  David Bray
  BrayWorth Pty Ltd
  e. david@brayworth.com.au

  MIT License

  Modal Content
*/
.modal:not(.modal-bootstrap) {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal:not(.modal-active) {
	display: none; /* Hidden by default */
}
.modal.modal-active {
	display: block;
}

.modal .close.fa {
	margin-top: -.7rem;
}

.modal .bg-primary > .close:not(.fa),
.modal .bg-secondary > .close:not(.fa),
.modal .bg-dark > .close:not(.fa),
.modal .bg-danger > .close:not(.fa) {
	color: white;
	opacity: 0.6;

}

.modal .close:not(.fa):hover,
.modal .close:not(.fa):focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*-- --[]-- --*/
.modal-brayworth .modal-header input[type="submit"],
.modal-brayworth .modal-header input[type="reset"],
.modal-brayworth .modal-header button,
.modal-brayworth .modal-header a.button,
.modal-brayworth .modal-header a:visited.button {
	margin-right: .6em;
	padding: .16em .6em;
	background-color: inherit;
	color: white;
	line-height: normal;
}
/*-- --[]-- --*/

.modal-header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* adjust the modal width to carry through as far as possible */
@media (min-width: 840px) and (max-width: 991px) {
	.modal-lg, .modal-xl { max-width: 800px; }

}
@media (min-width: 1024px) and (max-width: 1199px) {
	.modal-xl { max-width: 1000px; }

}
