/*
	David Bray
	BrayWorth Pty Ltd
	e. david@brayworth.com.au

	MIT License

*/
@media (min-width: 768px) {
	.dropdown-with-submenu { position: relative; }
	.dropdown-with-submenu::after {
		display: block;
		margin-left: calc(100% - 1em);
		margin-top: -1.3em;
		margin-bottom: .7em;
		content: "";
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}
	.dropdown-submenu {
		display: none;
		position: absolute;
		left: 100.5%;
		top: 0;
		background-color: #fff;
		border-radius: .25rem;
		border: 1px solid rgba(0,0,0,.15);

	}

	.dropdown-with-submenu:hover .dropdown-submenu { display: block; }
}
