# Auto detect text files and perform LF normalization
* text=auto

*.php text eol=lf
*.json text eol=lf
*.js text eol=lf
*.sh text eol=lf

src/dvc/resource/* linguist-vendored
src/dvc/public/* linguist-vendored

src/dvc/resource/* linguist-detectable=false
*.cmd linguist-detectable=false
*.sh linguist-detectable=false
run.cmd linguist-vendored
run.sh linguist-vendored
httpd-minimal.conf linguist-vendored
