/* Sticky footer styles
-------------------------------------------------- */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { font-family: sans-serif; }
html {
	position: relative;
	min-height: 100%;
}
/*html, body { height: calc( 100%); }
*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}

body > .container, body > .container-fluid, body > .main-content-wrapper {
	/* Margin bottom by footer height */
	margin-bottom: 1.4em;
}

header {
	color: #fff;
	background-color: #2196F3;

}

	/* Set the fixed height of the footer here 2.4em; */
/*	height: 1.4rem; */
footer, .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

footer nav > ul, .footer nav > ul, .copyright {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

footer nav > ul > li, .footer nav > ul > li, .copyright {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 3px;
    line-height: 20px;
    text-align: center;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand, .navbar-nav > li > a { line-height: 80px; }

.navbar-brand {
	padding-top: 0;
	font: normal 20px/1em 'Permanent Marker', arial, sans-serif;
}

@media screen and (max-width: 330px) {
	.navbar-brand {
		font-size: 16px;
/*		padding-top: 18px; */
	}
	.navbar-fixed-top {
		min-height: 50px;
	}

}
@media screen and (max-width: 767px) {
    .navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;}

	.navbar-brand, .navbar-nav > li > a { line-height: 50px; }

	body > .container, body > .container-fluid, body > .main-content-wrapper {
		padding: 55px 15px 0;
	}

}
@media screen and (min-width: 450px) {
	.navbar-brand {
		font-size: 24px;
		/* padding-top: 12px; */
	}
}
@media screen and (min-width: 767px) {
	.navbar-brand {
		font-size: 24px;
		/* padding-top: 15px; */
	}

	.navbar-fixed-top { min-height: 60px; }
	.navbar-brand, .navbar-nav > li > a { line-height: 60px; }

	body > .container, body > .container-fluid, body > .main-content-wrapper {
		padding: 65px 15px 0;
	}

}
@media screen and (min-width: 880px){
	.navbar-brand {	font-size: 32px; }
}
@media screen and (min-width: 980px){
	.navbar { font-size: 18px; }
	.navbar-brand {	font-size: 32px; }

	.navbar-fixed-top { min-height: 70px; }
	.navbar-brand, .navbar-nav > li > a { line-height: 70px; }

	.navbar { margin-bottom: 0; }
	body > .container, body > .container-fluid, body > .main-content-wrapper {
		padding: 71px 15px 0;

	}

}
@media screen and (min-width: 1100px){
	.navbar { font-size: 20px; }
	.navbar-brand {	font-size: 36px; }

	.navbar-brand, .navbar-nav > li > a { line-height: 80px; }

	body > .container, body > .container-fluid, body > .main-content-wrapper {
		padding: 81px 15px 0;
	}
}

footer > .container, .footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
  font-size: 80%;
}

div#brayworthLOGO { text-align: right; font-size: 8pt; font-style: italic; color: silver; padding-bottom: 8px; padding-top: 8px; }
div#brayworthLOGO a {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 3px solid yellow;
	color: black;
	margin-right: 8px;
}

.list-unstyled {
  padding-left: 0;
  list-style-type: none;
}
.list-unstyled.list-pad-left { padding-left: 10px; }

.ui-menu-item a { padding: 1px 4px 1px 1px; }
.ui-menu-item .menu-item-separator { margin: .5em 0;
	border-top:1px solid rgba(33, 150, 243, 0.65);
	border-bottom: 1px solid #607d8b; }
.ui-menu-blank::before {
    content:url('icon-blank-16x16.gif')
}

.user-avatar { width: 60px; border: 1px solid silver; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.pull-left { float: left !important; }
.center { margin: auto; }
.pull-right { float: right !important; }

.table-centered {
	margin: 0 auto !important;
	float: none !important;
	width: inherit;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

table.edit tbody tr td,
	table.edit tbody tr th,
	table.view tbody tr td,
	table.view tbody tr th { padding: 4px 4px 4px 1px; }
table.edit tbody tr th,
	table.view tbody tr th,
	table.view tbody tr td div.as-th,
	table.edit thead tr td,
	table.view thead tr td { font-size: 0.7em }
table.edit tbody tr td, table.view tbody tr td { font-size: 1.2em }
/*table.edit input[type="text"], input[type="password"],
	table.edit select {  padding: 6px; }
*/
table.report td, table.report th { padding: 4px }
table.ReportInAButton td, table.report th { padding: 0px }
thead tr, .thead tr { vertical-align: bottom; }
thead tr td, .thead tr td { background-color: #d8d8d8; }
thead tr td table tbody tr td { background-color: transparent; }
thead tr:last-child td, .thead tr:last-child td { border-bottom: 1px solid #000; }
thead tr:last-child td table tbody tr td { border-bottom: none; }
thead tr.noborder td table tbody tr.noborder td { border-bottom: none; }
.report tbody tr td, .report .tbody tr td { border-bottom: 1px solid #f0f0f0; }
.report tbody.nolines tr td,
	.report tbody tr.noborder td { border-bottom: none; }
.report tfoot tr:first-child td, .report .tfoot tr:first-child td { border-top: 3px solid black; }
.report tfoot tr:last-child td, .report .tfoot tr:last-child td { border-bottom: 1px solid black; }

thead tr td, .thead tr td { font-size: .8em; }
thead tr td table tbody tr td { font-size: .8em; }
.report tbody tr td, .report .tbody tr td { font-size: 0.7em; }
input[type="text"].datepicker { width: 7em; }

/*.content,
.content-primary {
	margin: 0 15px;
} */
@media screen and (max-width: 767px){
	.content-secondary {
		text-align: left;
		margin: 0 5px 20px 2%;
		padding: 20px 4% 20px 2%;
		background: none;
		position: relative;
	}
	.content-primary {
		padding: 5px 1% 10px 5px;
		position: relative;
	}

}
@media screen and (min-width: 768px){
	.content-secondary {
		text-align: left;
		float: right;
		border-left: 1px solid #ececec;
		display: inline-block;
		margin: 0 5px 20px 5px;
		padding: 0 4% 0 0;
		background: none;
		border-top: none;
		position: relative;

	}
	.content-primary {
		display: inline-block;

	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.content-secondary {
		width: 30%;
	}

	.content-primary {
		width: 66%;
		padding: 5px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.content-secondary {
		width: 25%;
		padding-right:4%;
	}
	.content-primary {
		width: 70%;
		padding: 0 2% 0 1%;
	}
}

@media screen and (min-width: 1200px){
	.content-secondary {
		width: 24%;
		padding-right:4%;
	}
	.content-primary {
		width: 65%;
		padding: 0 2% 0 1%;
	}
}

.tile {
	font: normal 1.2em/1em 'Permanent Marker', arial, sans-serif;
	text-align: center;
	height: 3em;
	padding: 1em .2em;
}
.tile-alt { background-color: #fff; }
.tile-alt > a { color: #000 }
.tile-on { background-color: #1995dc; }
.tile-on > a { color: #fff }

.initial-icon {
	background-color: blue;
	color: white;
	border-radius: 16px;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	margin: auto;
}

/* Featurettes
------------------------- */

.featurette {
	padding: 8px 10px; /* Space out the Bootstrap <hr> more */
}

.featurette-divider {
	margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-image { max-width: 30%; }

/* Thin out the marketing headings */
.featurette-heading {
	  font-weight: 300;
	  line-height: 1;
	  letter-spacing: -1px;
}

blockquote {
    font-style: italic;
    line-height: 1.45;
    position: relative;
	padding-left: 40px;
}

/*
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
} */

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1050; /* Sit on top, compatible with bootstrap */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.fa.close,
.modal .close {
    color: #aaa;
    float: right;
}
.modal-header .close, .modal-header .fa {
	margin: 0;
    font-size: 1.4rem;
}
.modal .close:not(.fa) {
    font-weight: bold;
}

.modal .close:not(.fa):hover,
.modal .close:not(.fa):focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header, Body & Footer */
.modal-footer { padding: 10px 15px 5px; }
.modal-body { padding: 5px 15px; }
.modal-header { padding: 3px 15px; }
.modal-header h1 { margin: 0; font-size: 1.5em }
.modal-header h2 { margin: 0; font-size: 1.2em }

.modal-header {
	color: white;
	background-color: #337ab7; }
.modal-footer{ color: #337ab7; background-color: #eee; }
.modal-body { height: calc( 100% - 90px); }

/* Modal Content */
/* Modal Content Animation */
@-webkit-keyframes animatebottom {
	from {top: 100%; opacity: 0}
	to {top: 50%; opacity: 1}
}

@keyframes animatebottom {
	from {top: 100%; opacity: 0}
	to {top: 50%; opacity: 1}
}
.modal .modal-content {
	background-color: #fefefe;
	padding: 0;
	border: 1px solid #888;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 0.4s;
	animation-name: animatebottom;
	animation-duration: 0.4s
}
.modal .modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	transform: translate(-50%,-50%);
}
/*
	position: relative;
	margin: 15% auto;
	width: 80%;
*/
@media screen and (max-height: 700px){
	.modal .modal-content {
		margin: 7% auto; /* 15% from the top and centered */
	}
}
.modal .modal-content.modal-content-400 { width: 400px; }
.modal .modal-content.modal-content-600 { width: 600px; }
.modal .modal-content.modal-content-700 { width: 700px; }

@media screen and (max-width: 400px){
	.modal .modal-content.modal-content-400 { width: 95%; }
}

@media screen and (max-width: 600px){
	.modal .modal-content.modal-content-600 { width: 95%; }
}

@media screen and (max-width: 768px){
	.modal .modal-content.modal-content-700,
	.modal .modal-content { width: 95%; }
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
.growler {
	max-width: 400px;
	margin: 0; padding: 10px 10px 10px 50px; border-radius: 10px;
	color: white;
	background: rgb(48,48,48);
	background: rgba(16,16,16, 0.75);
	border: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	z-index: 1500;
}
.growler h3{ margin-top: 0; }
.growler.information:before {
	content: "";
	background: url('growl/information.png') no-repeat;
	padding: 0; margin-left: -40px; width: 32px; height: 32px; display: block; float: left;
}
.growler.success:before {
	content: "";
	background: url('growl/check.png') no-repeat;
	padding: 0; margin-left: -40px; width: 32px; height: 32px; display: block; float: left;
}
.growler.error:before {
	content: "";
	background: url('growl/error.png') no-repeat;
	padding: 0; margin-left: -40px; width: 32px; height: 32px; display: block; float: left;
}

@media screen and (max-width: 767px) {
	.growler {
		padding: 1px 8px 4px 32px; border-radius: 5px;
	}
	.growler.information:before {
		background: url('growl/information-16x16.png') no-repeat;
		margin: 5px 0 0 -24px; width: 16px; height: 16px;
	}
	.growler.success:before {
		background: url('growl/check-16x16.png') no-repeat;
		margin: 5px 0 0 -24px; width: 16px; height: 16px;
	}
	.growler.error:before {
		background: url('growl/error-16x16.png') no-repeat;
		margin: 5px 0 0 -24px; width: 16px; height: 16px;
	}

}

.gravatar.gravatar-80 { width: 80px; }
.gravatar.gravatar-32 { width: 32px; }
.gravatar.gravatar-16 { width: 16px; }

.wait { cursor: wait; }
