/*
	David Bray
	BrayWorth Pty Ltd
	e. david@brayworth.com.au

	MIT License

	Components
	*/
.initial-icon {
	background-color: blue;
	color: white;
	border-radius: 16px;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	margin: auto;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;

}
