.form-control-primary:not(:focus) { opacity: 0.2; }

.sidebar {
    position: fixed!important;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;

}

.left-sidebar {
    position: sticky;
    top:0;
    padding-top: 70px;
    height: calc(100vh)

}

.sidebar-nav li a.nav-link {
    color: #333;

}

main {
    padding-top: 90px;
}

main .card {
    margin-bottom: 20px;
}
