.form-control-primary {
    margin: 10px;
    border-radius: .25rem;

}

.form-control-primary:not(:focus) { opacity: 0.2; }

.left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)

}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;

}

main {
    padding-top: 90px;
}

main .card {
    margin-bottom: 20px;
}
