body > nav {
  background-color: rgba(0, 0, 0, .85);

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

body > nav a {
  color: #999;
  transition: ease-in-out color .15s;
}

body > nav a:hover {
  color: #fff;
  text-decoration: none;
}
